.add-feature{
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    padding: 6px 10px;
    border-radius: 2px;
}
.add-feature:hover{
    cursor: pointer;
    color: cornflowerblue;
    background-color: white;
    border: 1px solid cornflowerblue;
}
.primary{
    color: cornflowerblue;
}